.session.vim
tags
TAGS
.gemtags
.tags
.sass-cache
.DS_Store?
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
._*
.Spotlight-V100
.Trashes
.netrwhist
config.codekit
*.dump
__Scratch__

# ----------------
# Do stuff locally
# ----------------
.envrc
cheatsheet
bin.private
local_only_initializer.rb
