.session.vim
tags
TAGS
.sass-cache
.DS_Store?
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
._*
.Spotlight-V100
.Trashes
.netrwhist
gitignore_dir
config.codekit
.vimrc-private
.gemtags
.tags
bin.private
.envrc
cheatsheet
*.tags
Gemfile.lock
